@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.container-main{
  width: 75%;
  margin: auto;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nav-main{
	padding: 20px 0px;
}
.primary-color{
	color: #7744D5 !important;
}
.primary-bg{
	background-color: #7744D5 !important;
}
.light-greay-color{
	color: #B2B2B2;
}
.award-winning{
	width: 100%;
	display: flex;
	align-items: center;
	padding-top: 14px;
}
.heading-text-hero{
	font-size: 50px;
	line-height: 1.2;
	padding-bottom: 20px;
}
.heading-text-hero{
	color: #fff;
	font-weight: 500;
}
.block-text{
	display: block;
}
.sub-text-hero{
	color: #B2B2B2;
	padding-bottom: 20px;
}
.counts{
	width: 25%;
	border-right: 2px solid #b2b2b2ef;
}
.count-dv{
	display: flex;
}
.button-dv{
	padding-bottom: 80px;
}
.number-text-sub{
	color: #fff;
	font-weight: 300 !important;
}
.number-text{
	font-size: 25px;
	color: #fff;
	padding-bottom: 10px;
	font-weight: 600;
}
.left-space{
	padding-left: 25px;
}
.founder-img{
	width: 90%;
	margin: auto;
	display: table;
}
.award-content , .ceo-image{
	width: 50%;
}
.hero-home{
	border-bottom: 1px solid #a7a7a7;
	height: 95vh;
}
/* brands  */
.brands-section{
	width: 100%;
	display: flex;
  flex-wrap: wrap;
	padding: 0px 20px;
	background-color: transparent;
}
.brands-section .brand-logo{
	width: calc(90% / 7); /* Set width based on number of logos */
  height: auto; /* Maintain aspect ratio */
  margin: 40px auto 15px auto;
}
.brand-dropdown-txt{
	font-size: 15px;
	text-align: center;
	color: #fff;
	background-color: #151515;
	border-radius: 0px 0px 30px 30px;
	padding: 20px 0px;
	margin-top: 20px;
}
.brand-main{
	border: 1px solid #fff;
	padding: 20px 0px 0px 0px;
	width: 100%;
	margin-top: 50px;
	border-radius: 30px;
}
.dropdown-button{
	/* background-color: #151515; */
	border-radius: 0px 0px 30px 30px;
}
.view-all{
	font-weight: 500;
	background-color: transparent;
	cursor: pointer;
	padding: 0px !important;
	color: #fff !important;
	font-weight: 600 !important;
}
.about-main-section{
	margin-top: 200px;
}
.about-main-heading{
	color: #fff;
	font-weight: 600;
}
.sub-text-aboutus{
	color: #B2B2B2;
	padding-top: 40px;
}
.learn-btn{
	color: #fff !important;
	margin-top: 30px !important;
	padding: 9px 20px 7px 20px !important;
}
.count-text{
	color: #fff;
	font-weight: 600;
}
.count-small{
	font-size: 16px;
	font-weight: 500;
}
.count-block{
	margin-bottom: 40px;
}
.number-count{
	width: max-content;
	margin-left: auto;
}
.frame-main{
	width: 100%;
}
.frame-section{
	margin-top: 80px;
}
.wall-sub-text{
	color: #B2B2B2;
}
.wall-text{
	color: #fff;
	font-weight: 600;
	padding-bottom: 20px;
}
.frame-awards{
	width: 60%;
}
.frame-image{
	width: 40%;
}
.automatic-slider{
	padding-top: 80px;
}
/* service section  */
.services-section{
	background-image: url(./Assets//grid.svg);
	width: 100%;
	background-color: #141414;
	border-radius: 20px;
	padding: 40px 40px;	
	margin-top: 50px;
}
.service-heading-text{
	font-weight: 600;
	color: #fff;
	background-color: transparent;
	padding-bottom: 50px;	
	padding-top: 30px;
}
.service-text{
	font-size: 19px;
	padding-bottom: 5px;
	color: #fff;
	background-color: transparent !important;
}
.service-sub-text{
	width: 70%;
	background-color: transparent !important;
}
.tab-main{
	display: flex;
	padding-bottom: 30px;
	background-color: transparent !important;
}
.service-logo{
	width: 50px;
	background-color: transparent !important;
}
.tab-div{
	background-color: transparent;
}
.s-dv{
	background-color: transparent;
	padding-left: 40px;
}
.service-logo-small{
	width: 25px;
	background-color: transparent !important;
}
.tab-div{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.sub-tab{
	width: calc(98% / 2);
	height: auto;
}
.sub-tab{
	background-color: transparent;
}
.sub-tab .nav {
	background-color: transparent !important;
}
.sub-tab .nav-item {
	background-color: transparent !important;
}
.sub-tab .nav-pills .nav-link.active{
	background-color: transparent !important;
}
.tab-content .tab-pane {
	background-color: transparent !important;
}
.tab-content{
	background-color: transparent !important;
}
.seo-team-png{
	background-color: transparent !important;
}
/* slider section headline sliders  */
.white-bgs{
	background-color: #fff !important;
	padding: 50px 0px;
	margin-top: 50px;
}
.white-bg{
	background-color: #fff !important;
}
.headline-heading{
	font-weight: 600;
	text-align: center;
	padding-bottom: 5px;
}
.sub-head-headline{
	text-align: center;
	font-weight: 500;
}
.headline-section{

}	
.divider-space{
	background-color: black;
	padding: 50px;
}
.consult-section{
	background-color: #F1C644;
	padding: 30px 30px;
	border-radius: 25px;
	display: flex;
	width: 100%;
	margin-top: 100px;
	background-image: url(./Assets//grid.svg);
}
.lets-text{
	color: #fff;
	font-size: 60px;
}
.consult-btn{
	padding: 7px 25px 5px 25px !important;
	color: #fff !important;
	display: table !important;
	margin-left: auto;
	width: max-content;
	bottom: 0;
	border-radius: 8px !important;
	right: 0px;
	position: absolute;
}
.consult-button{
	width: 50%;
	position: relative;
}
.consult-content{
	width: 50%;
}







































































