.container-main{
  width: 75%;
  margin: auto;
}
.nav-main{
	margin: 20px 0px;
}
.primary-color{
	color: #7744D5 !important;
}
.primary-bg{
	background-color: #7744D5 !important;
}
.award-winning{
	width: 100%;
	display: flex;
	align-items: center;
	padding-top: 200px;
}
.heading-text-hero{
	font-size: 50px;
	line-height: 1.2;
	padding-bottom: 20px;
}
.heading-text-hero{
	color: #fff;
}
.block-text{
	display: block;
}
.sub-text-hero{
	color: #B2B2B2;
	padding-bottom: 20px;
}













































