@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.container-main {
	width: 75%;
	margin: auto;
}
.bebas-neue-regular {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.nav-main {
	padding: 20px 0px;
}
.primary-color {
	color: #7744d5 !important;
}
.primary-bg {
	background-color: #7744d5 !important;
}
.light-greay-color {
	color: #b2b2b2;
}
.award-winning {
	width: 100%;
	display: flex;
	align-items: center;
	padding-top: 70px;
}
.heading-text-hero {
	font-size: 50px;
	line-height: 1.2;
	padding-bottom: 20px;
}
.heading-text-hero {
	color: #fff;
	font-weight: 500;
}
.block-text {
	display: block;
}
.sub-text-hero {
	color: #b2b2b2;
	padding-bottom: 20px;
}
.counts {
	width: 25%;
}
.count-dv {
	display: flex;
}
.button-dv {
	padding-bottom: 80px;
}
.number-text-sub {
	color: #fff;
	font-weight: 300 !important;
}
.number-text {
	font-size: 25px;
	color: #fff;
	padding-bottom: 10px;
	font-weight: 600;
}
.left-space {
	padding-left: 25px;
}
.founder-img {
	/* width: 90%; */
	margin: auto;
	display: table;
}
.award-content,
.ceo-image {
	width: 50%;
}
.hero-home .container-main {
}
.hero-home {
	border-bottom: 1px solid #a7a7a7;
}
.height-home {
	min-height: 95vh;
}
/* brands  */
.brands-section {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 0px 20px;
	background-color: transparent;
}
.brands-section .brand-logo {
	width: calc(90% / 7); /* Set width based on number of logos */
	height: auto; /* Maintain aspect ratio */
	margin: 40px auto 15px auto;
}
.brand-dropdown-txt {
	font-size: 15px;
	text-align: center;
	color: #fff;
	background-color: #151515;
	border-radius: 0px 0px 30px 30px;
	padding: 20px 0px;
	margin-top: 20px;
}
.brand-main {
	border: 1px solid #fff;
	padding: 20px 0px 0px 0px;
	width: 100%;
	margin-top: 0px;
	border-radius: 30px;
}
.dropdown-button {
	/* background-color: #151515; */
	border-radius: 0px 0px 30px 30px;
}
.view-all {
	font-weight: 500;
	background-color: transparent;
	cursor: pointer;
	padding: 0px !important;
	color: #fff !important;
	font-weight: 600 !important;
}
.about-main-section {
	margin-top: 130px;
}
.about-main-heading {
	color: #fff;
	font-weight: 600;
}
.sub-text-aboutus {
	color: #b2b2b2;
	padding-top: 40px;
}
.learn-btn {
	color: #fff !important;
	margin-top: 30px !important;
	padding: 9px 20px 7px 20px !important;
}
.count-text {
	color: #fff;
	font-weight: 600;
}
.count-small {
	font-size: 16px;
	font-weight: 500;
}
.count-block {
	margin-bottom: 40px;
}
.number-count {
	width: max-content;
	margin-left: auto;
}
.frame-main {
	width: 100%;
}
.frame-section {
	margin-top: 80px;
}
.wall-sub-text {
	color: #b2b2b2;
}
.wall-text {
	color: #fff;
	font-weight: 600;
	padding-bottom: 20px;
}
.frame-awards {
	width: 60%;
}
.frame-image {
	width: 40%;
}
.automatic-slider {
	padding-top: 80px;
}
/* service section  */
.services-section {
	background-image: url(./Assets//grid.svg);
	width: 100%;
	background-color: #141414;
	border-radius: 20px;
	padding: 40px 40px;
}
.service-heading-text {
	font-weight: 600;
	color: #fff;
	background-color: transparent;
	padding-bottom: 50px;
	padding-top: 30px;
}
.service-text {
	font-size: 19px;
	padding-bottom: 5px;
	color: #fff;
	background-color: transparent !important;
}
.service-sub-text {
	width: 70%;
	background-color: transparent !important;
}
.tab-main {
	display: flex;
	padding-bottom: 30px;
	background-color: transparent !important;
}
.service-logo {
	width: 50px;
	background-color: transparent !important;
}
.tab-div {
	background-color: transparent;
}
.s-dv {
	background-color: transparent;
	padding-left: 40px;
}
.service-logo-small {
	width: 25px;
	background-color: transparent !important;
}
.tab-div {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.sub-tab {
	width: calc(98% / 2);
	height: auto;
}
.sub-tab {
	background-color: transparent;
}
.sub-tab .nav {
	background-color: transparent !important;
}
.sub-tab .nav-item {
	background-color: transparent !important;
}
.sub-tab .nav-pills .nav-link.active {
	background-color: transparent !important;
}
.tab-content .tab-pane {
	background-color: transparent !important;
}
.tab-content {
	background-color: transparent !important;
}
.seo-team-png {
	background-color: transparent !important;
}
/* slider section headline sliders  */
.white-bgs {
	background-color: #fff !important;
	padding: 50px 0px;
	margin-top: 50px;
}
.white-bg {
	background-color: #fff !important;
}
.headline-heading {
	font-weight: 600;
	text-align: center;
	padding-bottom: 5px;
}
.sub-head-headline {
	text-align: center;
	font-weight: 500;
}
.headline-section {
}
.divider-space {
	background-color: black;
	padding: 50px;
}
.consult-section {
	background-color: #f1c644;
	padding: 30px 30px;
	border-radius: 25px;
	display: flex;
	width: 100%;
	margin-top: 100px;
	background-image: url(./Assets//grid.svg);
}
.lets-text {
	color: #fff;
	font-size: 60px;
}
.consult-btn {
	padding: 7px 25px 5px 25px !important;
	color: #fff !important;
	display: table !important;
	margin-left: auto;
	width: max-content;
	bottom: 0;
	border-radius: 8px !important;
	right: 0px;
	position: absolute;
}
.consult-button {
	width: 50%;
	position: relative;
}
.consult-content {
	width: 50%;
}
.clients-logo {
	width: 250px;
}
.clients-heading {
	font-weight: 600;
	padding-bottom: 10px;
}
.clients-reviews {
	padding: 70px 0px;
	margin-top: 80px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.clents-sub {
	padding-bottom: 15px;
}
.review-box {
	width: 100%;
	background-color: black;
	padding: 15px 20px;
	border-radius: 10px;
}
.reviewr-name {
	color: #fff;
	font-size: 19px;
	padding-bottom: 17px;
}
.review-text {
	color: #fff;
	font-size: 14px;
}
.user-img {
	width: 40px;
}
.user-des {
	color: #fff;
	font-size: 15px;
}
.user-name {
	color: #fff;
	font-size: 17px;
}
.user-name-dv {
	padding-left: 10px;
}
.rev-profile {
	display: flex;
	padding-top: 30px;
}
.loc-icon {
	border-right: 2px solid #fff;
	padding-right: 10px;
}
.loc-icon {
}
.live-chat {
	padding: 90px 0px;
	margin-top: 140px;
}
.chat-heading {
	font-weight: 600;
	padding-bottom: 15px;
}
.chat-sub {
	padding-bottom: 15px;
}
.location-half {
	display: flex;
	width: 50%;
	padding-bottom: 50px;
}
.location-text {
	padding-left: 20px;
}
.location-main {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.location-full {
	width: 100%;
	display: flex;
}
.location-link {
	text-decoration: none !important;
}
.live-chat .container-main {
	position: relative;
}
.form-dv {
	width: 50%;
	background-color: #7744d5;
	padding: 30px 20px;
	border-radius: 10px;
	color: #fff;
	position: absolute;
	right: 0px;
	top: -160px;
}
.call-back-text {
	font-size: 24px;
	border-bottom: 1px solid #fff;
	padding-bottom: 20px;
	padding-top: 30px;
}
.form-call-back {
	width: 100%;
	padding-top: 25px;
}
.form-call-back .form-half {
	width: 48%;
}
.form-call-back form {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.form-full {
	width: 100%;
}
.submit-btn {
	color: #fff !important;
	background-color: black !important;
	border-radius: 12px !important;
	display: flex !important;
	align-items: center;
	padding: 8px 25px !important;
}
.submit-from {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.submit-from i {
	font-size: 23px;
	margin-right: 25px;
}
.submit-btn i {
	margin-right: 0px !important;
	margin-left: 8px !important;
}
.faq-heading {
	font-weight: 600;
	padding-bottom: 40px;
}
.faq-section {
	padding-top: 80px;
}
.collapse-main .accordion-item {
	border: none !important;
}
.accordion-button {
	border: 2px solid #d9d9d9 !important;
	background-color: #fff !important;
	border-radius: 8px !important;
	padding-left: 40px !important;
	font-weight: 600 !important;
}
.accordion-body .faq-sub {
	color: #000000;
}
.accordion-item {
	margin-bottom: 30px !important;
}
.footer-section {
	padding: 120px 0px 20px 0px;
}
.footer-logo {
	width: 120px;
	padding-bottom: 30px;
}
.footer-partner {
	width: 90px;
	display: block;
	margin-left: 15px;
}
.footer-icons i {
	color: #fff;
	font-size: 21px;
	margin-right: 15px;
}
.footer-icons {
	padding-top: 20px;
}
.footer-heading {
	padding-bottom: 40px;
}
.footer-box ul {
	padding-left: 0px !important;
}
.footer-box ul li a {
	color: #fff !important;
	text-decoration: none !important;
}
.footer-box ul li {
	padding-bottom: 20px;
}
.footer-copy {
	padding-top: 80px;
}
.footer-section {
	background-color: #000000;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.fw {
	font-weight: 600;
}
.awrad-img {
	width: 90%;
	margin: auto;
}
.countsm {
	width: 25%;
}
.seo-team-png {
	background-color: transparent !important;
	width: 100%;
}

/* responsive  */
@media (min-width: 2200px) {
	.container-main {
		width: 60%;
	}
}
@media (min-width: 1900px) {
	.container-main {
		width: 69%;
	}
	.heading-text-hero {
		font-size: 43px;
		line-height: 1.4;
	}
}
@media (max-width: 1800px) {
	.heading-text-hero {
		font-size: 41px;
		line-height: 1.4;
	}
}
@media (max-width: 1650px) {
	.container-main {
		width: 80%;
	}
}

@media (max-width: 1450px) {
	.container-main {
		width: 90%;
	}
}
@media (max-width: 1250px) {
	.heading-text-hero {
		font-size: 38px;
		line-height: 1.4;
	}
	.brand-main {
		margin-top: 30px;
	}
}
@media (max-width: 1250px) {
	.heading-text-hero {
		font-size: 35px;
		line-height: 1.4;
	}
	.block-text {
		display: unset;
	}
	.sub-text-hero {
		padding-bottom: 20px;
		font-size: 14px;
	}
	.founder-img {
		width: 90%;
	}
}
@media (max-width: 1150px) {
	.nav-item-list-dv li {
		margin: 0px 14px;
	}
}
@media (max-width: 991px) {
	.item-nav {
		display: none;
	}
	.btn-nav {
		display: none;
	}
}
